
  <br><br><br>
  <hr>
  <p class="text=center footer_word">&COPY; CmShoppingCard</p>
  <script src="/js/main.js"></script>
  <script src="//cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<%- messages('messages', locals) %> 

</body>
  </html>